/ テンプレート
.main__body--box.clearfix
  %li.message-nickname
    UserName
  %li.message-date
    yyyy/mm/dd hh:mm
  %li.message-text
    TextTextTextTextTextTextTextTextTextTextText

/ 仮置き用
.main__body--box.clearfix
  %li.message-nickname
    UserName
  %li.message-date
    yyyy/mm/dd hh:mm
  %li.message-text
    TextTextTextTextTextTextTextTextTextTextText
.main__body--box.clearfix
  %li.message-nickname
    UserName
  %li.message-date
    yyyy/mm/dd hh:mm
  %li.message-text
    TextTextTextTextTextTextTextTextTextTextText
.main__body--box.clearfix
  %li.message-nickname
    UserName
  %li.message-date
    yyyy/mm/dd hh:mm
  %li.message-text
    TextTextTextTextTextTextTextTextTextTextText
.main__body--box.clearfix
  %li.message-nickname
    UserName
  %li.message-date
    yyyy/mm/dd hh:mm
  %li.message-text
    TextTextTextTextTextTextTextTextTextTextText
.main__body--box.clearfix
  %li.message-nickname
    UserName
  %li.message-date
    yyyy/mm/dd hh:mm
  %li.message-text
    TextTextTextTextTextTextTextTextTextTextText
.main__body--box.clearfix
  %li.message-nickname
    UserName
  %li.message-date
    yyyy/mm/dd hh:mm
  %li.message-text
    TextTextTextTextTextTextTextTextTextTextText
.main__body--box.clearfix
  %li.message-nickname
    UserName
  %li.message-date
    yyyy/mm/dd hh:mm
  %li.message-text
    TextTextTextTextTextTextTextTextTextTextText
.main__body--box.clearfix
  %li.message-nickname
    UserName
  %li.message-date
    yyyy/mm/dd hh:mm
  %li.message-text
    TextTextTextTextTextTextTextTextTextTextText
.main__body--box.clearfix
  %li.message-nickname
    UserName
  %li.message-date
    yyyy/mm/dd hh:mm
  %li.message-text
    TextTextTextTextTextTextTextTextTextTextText
.main__body--box.clearfix
  %li.message-nickname
    UserName
  %li.message-date
    yyyy/mm/dd hh:mm
  %li.message-text
    TextTextTextTextTextTextTextTextTextTextText
.main__body--box.clearfix
  %li.message-nickname
    UserName
  %li.message-date
    yyyy/mm/dd hh:mm
  %li.message-text
    TextTextTextTextTextTextTextTextTextTextText
.main__body--box.clearfix
  %li.message-nickname
    UserName
  %li.message-date
    yyyy/mm/dd hh:mm
  %li.message-text
    TextTextTextTextTextTextTextTextTextTextText
.main__body--box.clearfix
  %li.message-nickname
    UserName
  %li.message-date
    yyyy/mm/dd hh:mm
  %li.message-text
    TextTextTextTextTextTextTextTextTextTextText
.main__body--box.clearfix
  %li.message-nickname
    UserName
  %li.message-date
    yyyy/mm/dd hh:mm
  %li.message-text
    TextTextTextTextTextTextTextTextTextTextText
.main__body--box.clearfix
  %li.message-nickname
    UserName
  %li.message-date
    yyyy/mm/dd hh:mm
  %li.message-text
    TextTextTextTextTextTextTextTextTextTextText
.main__body--box.clearfix
  %li.message-nickname
    UserName
  %li.message-date
    yyyy/mm/dd hh:mm
  %li.message-text
    TextTextTextTextTextTextTextTextTextTextText
.main__body--box.clearfix
  %li.message-nickname
    UserName
  %li.message-date
    yyyy/mm/dd hh:mm
  %li.message-text
    TextTextTextTextTextTextTextTextTextTextText
.main__body--box.clearfix
  %li.message-nickname
    UserName
  %li.message-date
    yyyy/mm/dd hh:mm
  %li.message-text
    TextTextTextTextTextTextTextTextTextTextText
.main__body--box.clearfix
  %li.message-nickname
    UserName
  %li.message-date
    yyyy/mm/dd hh:mm
  %li.message-text
    TextTextTextTextTextTextTextTextTextTextText
.main__body--box.clearfix
  %li.message-nickname
    UserName
  %li.message-date
    yyyy/mm/dd hh:mm
  %li.message-text
    TextTextTextTextTextTextTextTextTextTextText
.main__body--box.clearfix
  %li.message-nickname
    UserName
  %li.message-date
    yyyy/mm/dd hh:mm
  %li.message-text
    TextTextTextTextTextTextTextTextTextTextText
.main__body--box.clearfix
  %li.message-nickname
    UserName
  %li.message-date
    yyyy/mm/dd hh:mm
  %li.message-text
    TextTextTextTextTextTextTextTextTextTextText
