/ テンプレート
.side__body--group
  .group-name
    GroupName
  .group-message
    aaaaaaaaaaaaaaaaaaa

/ 仮置き用
.side__body--group
  .group-name
    GroupName
  .group-message
    aaaaaaaaaaaaaaaaaaa
.side__body--group
  .group-name
    GroupName
  .group-message
    aaaaaaaaaaaaaaaaaaa
.side__body--group
  .group-name
    GroupName
  .group-message
    aaaaaaaaaaaaaaaaaaa
.side__body--group
  .group-name
    GroupName
  .group-message
    aaaaaaaaaaaaaaaaaaa
